<div class="about-content">
    <div class="container">
        <h2>Why I have this Blog and Who I Am</h2>
        <div class="about-section">
            <div class="about-grid">
                <h3>Why I started this Blog?</h3>
                <p>
                    I originally started this Blog as a project from Coder Foundry. However, I will continue to be using this after I graduate their program as a reflection of what I have learned. The Blog uses multiple things that I have been taught. If you are interested in what that might be, just start reading!
                </p>
            </div>
            <div class="who-iam">
                <h3>Who Am I?</h3>
                <div class="man-info">
                    <p>While in High School, I took Java courses at a local community college. This lead to me attending UNCG for additional courses focusing on C++ this time. Once I took the Associate BI Developer position at Hafele, I transferred to Qlikview. I am currently enrolled in a 12 week coding course to grow in the development field. Upon completion, I will be seeking a new opportunity to grow and expand my knowledge. </p>
                    <h4>Some fun facts about me:</h4>
                    <li>I find joy from creating programs</li>
                    <li>Being able to improve a process because of my code is a real pleasure</li>
                    <li>As a child, I created multiple datatables listing my movie, trading cards, etc</li>
                    <li>When I have free time for myself, it's time to play 40k</li>
                    <li>I am an avid Cloud9 and LoL fan</li>
                </div>
                <div class="man-pic">
                    <img src="~/img/HeadPic.jpg" alt="" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>